<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>801528320840-s34aed65n81epb23uuu9ad643uotouk8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.801528320840-s34aed65n81epb23uuu9ad643uotouk8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>801528320840-i8e6c2aeo4733glj2bj8c9odf222ko3v.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDZvGtImpUgGGRnbhrN6v3TnCUvEra96JI</string>
	<key>GCM_SENDER_ID</key>
	<string>801528320840</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.agri.ebook</string>
	<key>PROJECT_ID</key>
	<string>firepush-ca1eb</string>
	<key>STORAGE_BUCKET</key>
	<string>firepush-ca1eb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:801528320840:ios:6463d6c08542de4cfbd97d</string>
	<key>DATABASE_URL</key>
	<string>https://firepush-ca1eb.firebaseio.com</string>
</dict>
</plist>